* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
  
    
}

body {
    font-family: sans-serif;
    background-color: #ebebeb;
   
    line-height: 2.2;
    font-size: .875rem;

}

ul {
    
    list-style-type: none;
}
a {
    text-decoration: none;
}

nav {
    background-color: #f8f8ff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}



.menu a {
    color: black;
    letter-spacing: 0.1rem;
    display: block;
    padding: 0.5rem 1rem;
    transition: all .3s linear;
}

.menu a:hover {
    
    color:black;
    padding-left: 1.5rem;

}

/* .menu {
    height: 0;
    overflow: hidden;
    transition: all .3s linear;
} */

.show-menu{
    height: 10rem;
}

.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
}

#about {
    margin-top: 30px;
}

.about-title {
    margin-top: 9000px;
    color: black;
    margin-bottom: 35px;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
}

#about p {
    margin-bottom: 35px;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
    font-size: 2rem;
    font-family:Georgia, 'Times New Roman', Times, serif
}

#projects h1 {
    color: black;
    margin-bottom: 35px;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
}

.skills {
    
    margin-bottom: 35px;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
}

.skills-list {
    margin-bottom: 35px;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
}

.myProjects {
    margin-bottom: 20px;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
    

}

.myProjects a {
    color: black;
}

.myProjects a:hover {
    color: black;
    font-size: 1rem;
}

/* #css {
    color: #f8f8ff;
    -webkit-text-stroke: 0.3vw #383d52;
    text-transform: uppercase;
    
} */

/* #css::before {
    content: attr(data-text);
    position: absolute;
    color: black;
    -webkit-text-stroke: 0vw #383d52;
    overflow: hidden;
    animation: animate 6s linear infinite;
} */

/* @keyframes animate {
    0%,10%,100% 
    {
        width: 0;

    }
    70%,90% 
    {
        width: 100%;
    }
} */

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f8f8ff;
    color: black;
    text-align: center;
    
  }
footer a {
    color: black;

}

footer a:hover {
    font-size: 1rem;
    color: black;
}


@media (min-width: 800px) {
    .nav-main{
        max-width: 1170px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
    }
    .nav-header {
        padding: 0;

    }

  
    .menu{
        height: auto;
        display: flex;
    }
    .menu a {
        padding: 0;
        margin: 0 .5rem;
    }
    .menu a:hover{
        padding: 0;
        background: transparent;
    }
}